body{
  margin: 0;
  padding: 0;
  line-height: 0.5;
  background: #7003f0;

}
.calci{

  width: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  transition: 0.25px;
  text-align: center;
  
  
}
#display{
  border: none;
  background: whitesmoke;
  border-radius: 30px;
  width: 200px;
  height: 60px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 300;
  height: 60;
  margin: auto;
  border: 2px solid white;
  color: black;
  display: flex;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  
  
  
}
.previous-operand{
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}
.current-operand{
  color: white;
  font-size: 2.5rem;
}
.btnDesign{
  width: 45px;
  height: 35px;
  padding-top: -1;
  border: none;
  font-family: sans-serif;
  font-size: 20;
  font-weight: 300;
  border-radius: 20px;
  margin: 1, 5;
  text-align: center;
  transition: 0.5s;
  outline: none;
  




}
.btnDesign:hover{
  background: lightblue;
}
.operatorDesign{
  width: 45px;
  height: 35px;
  padding-top: -1;
  padding-right: 2px;
  border: none;
  font-family: sans-serif;
  font-size: 20;
  font-weight: 300;
  border-radius: 30px;
  margin: 1.5;
  transition: 0.25px;
  cursor: pointer;
  background:salmon ;
  transition: 0.5s;



}
.operatorDesign:hover{
  background: whitesmoke;
}
#zero{
  width: 90px;
  height: 35px;
  padding-top: -1;
  border: none;
  font-family: sans-serif;
  font-size: 20;
  font-weight: 300;
  border-radius: 30px;
  margin: 1.5;
  transition: 0.25px;
  cursor: pointer;
  background: burlywood;
  transition: 0.5s;
  
}
#zero:hover{
  background: whitesmoke;
}