*::before, *::after{
    box-sizing:border-box ;
    font-family: Franklin Gothic Medium;
    font-weight: normal;
}
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00aaff,#00ff6c);

}

.calculator{
    display:grid ;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: min-content(120px, auto) repeat(s, 100px);
}
.calculator > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px  solid white;
    outline: none;
    background: rgba(255, 255, 255. 75);

}
.calculator> button:hover{
    background-color: rgba(255, 255, 255. 9);

}


